
NODE_ENV=development

DB_URL=mongodb://YOUR_USERNAME:YOUR_PASSWORD@your-cluster.mongodb.net/expense_tracker_api?ssl=true&authSource=admin&retryWrites=true&w=majority

JWT_REFRESH_SECRET=put_your_secret_here
JWT_ACCESS_SECRET=put_your_secret_here

REDIS_URL=redis://redis:6379