NODE_ENV=development

PORT=8080

DB_URL=mongodb://YOUR_USERNAME:YOUR_PASSWORD@shard-00-00.xxxxx.mongodb.net:27017,shard-00-01.xxxxx.mongodb.net:27017,shard-00-02.xxxxx.mongodb.net:27017/YOUR_DATABASE_NAME?ssl=true&authSource=admin&retryWrites=true&w=majority

JWT_ACCESS_SECRET=put_your_secret_here
JWT_REFRESH_SECRET=put_your_secret_here
JWT_ACCESS_EXPIRE=5m
JWT_REFRESH_EXPIRE=7d

REDIS_URL=redis://localhost:6379