NODE_ENV=development

PORT=8080   # OR_YOUR_PORT

DB_URL=mongodb://YOUR_USERNAME:YOUR_PASSWORD@your-cluster.mongodb.net/expense_tracker_api?ssl=true&authSource=admin&retryWrites=true&w=majority

JWT_ACCESS_SECRET=put_your_secret_here
JWT_REFRESH_SECRET=put_your_secret_here
JWT_ACCESS_EXPIRE=5m
JWT_REFRESH_EXPIRE=7d

REDIS_URL=redis://redis:6379